<div class="home-container">
    <div class="home-logo-container">
        <span class="home-title">BuySave</span>
    </div>
    <div class="home-links">
        <%= link_to 'Log in', new_user_session_url, class: "login-btn" %>
        <%= link_to 'Sign up', new_user_registration_url, class: "signup-btn" %>
    </div>
</div>